<h2>what's new ?</h2>
<p>
    un oh !  {{ total_posts() }} posts witten so far.
</p>

<div>
    <h3>Latest Post</h3>
    {% for post in latest_posts() %}
        <li>
            <a href="{{ path('app_post_show', { slug: post.slug}) }}">{{ post.titre }}</a>
        </li>
    {% endfor %}
</div>

<p>
    <h3>Mosts commented posts</h3>
{% for comment in most_commented_post(5) %}
    <li>
        <a href="{{ path('app_post_show', { slug: comment.slug}) }}">{{ comment.titre }}</a>
    </li>
{% endfor %}
</p>