
<h2>{{ nom_expediteur }} te recommande de lire ce article: "{{ post.titre }}"</h2>

<p>
    Lis l'article a l'adress suivante:
    <a href=" {{ url('app_post_show',{id: post.id, slug: post.slug }) }}">
        {{ url('app_post_show', {id: post.id, slug: post.slug }) }}
    </a>
</p>

{% if commentaire is defined and commentaire is not null  %}
    <h2> Commentaire de  {{ nom_expediteur }} : </h2>

    <p>{{ commentaire }}</p>
{% endif %}