{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1> Mon Blog ({{ pagination.getTotalItemCount }} articles) </h1>
    {% for post in pagination %}
        <article>
            <a href="{{ path('app_post_show',post.getPathParams ) }}"><h1> {{ post.titre }}</h1></a>
            <h5 class="text-muted">
                Publié le <time datetime="{{ post.publishedAt|date('Y-m-d H:i') }} ">
                  {{ post.publishedAt|date }}
                </time>
                par  {{ post.author }}
            </h5>
           <p> {{ post.contenu|u.truncate(50, '...', false) }}</p>
        </article>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
