{% extends 'layouts/partiels/base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}


        {% if tagName %}
            <h2 class="mb-4 display-6">Article filtre avec "{{ tagName }}"</h2>
        {% endif %}

    {% for post in pagination %}

        <article class="mb-5">
            <a href="{{ path('app_post_show',{ slug: post.slug } ) }}"><h1> {{ post.titre }}</h1></a>
            <p>
                {% if post.tags is defined and post.tags is not null %}
                       {% if post.tags|length >0 %}
                           Tag:
                           {% for tag in post.tags %}
{#                               {{ dump(tag.slug) }}#}
                               <a href="{{ path('app_post_by_tag', { slug: tag.slug }) }}">
                                 {{ tag.name }}
                               </a>{% if not loop.last %}/{% endif %}
                           {% endfor %}
                       {% endif %}
                {% endif %}
            </p>
            <h5 class="text-muted">
                Publié le <time datetime="{{ post.publishedAt|date('Y-m-d H:i') }} ">
                  {{ post.publishedAt|date }}
                </time>
                par  {{ post.author }}
            </h5>
           <p class="text-muted fst-italic"> {{ post.contenu|u.truncate(50, '...', false) }}</p>
        </article>
    {% endfor %}

    <div class="navigation Page navigation example">
        <ul class="flex items-center -space-x-px h-8 text-sm">
                {{ knp_pagination_render(pagination) }}
        </ul>
    </div>


{% endblock %}
