{% extends 'layouts/partiels/base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    {% for post in pagination %}
        <article class="mb-5">
            <a href="{{ path('app_post_show',{ slug: post.slug } ) }}"><h1> {{ post.titre }}</h1></a>
            <p>
                {% if post.tags is defined and post.tags is not null %}
                       Tag: {{ post.tags|join('/') }}
                {% endif %}
            </p>
            <h5 class="text-muted">
                Publié le <time datetime="{{ post.publishedAt|date('Y-m-d H:i') }} ">
                  {{ post.publishedAt|date }}
                </time>
                par  {{ post.author }}
            </h5>
           <p class="text-muted fst-italic"> {{ post.contenu|u.truncate(50, '...', false) }}</p>
        </article>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
