{% extends 'base.html.twig' %}

{% block title post.titre %}

{% block body %}

        <h1>{{ post.titre }}</h1>
        <h5 class="text-muted">
                Publié le <time datetime="{{ post.publishedAt|date('Y-m-d H:i') }} ">
                        {{ post.publishedAt|date }}
                </time>
                par  {{ post.author }}
        </h5>
        <p>{{ post.contenu|nl2br }}</p>

{% endblock %}