{% extends 'layouts/partiels/base.html.twig' %}

{% block title 'Blog'  %}

{% block body %}
        {% if post is defined and post is not null %}
                <h1>{{ post.titre }}</h1>
                <h5 class="text-muted">
                        Publié le <time datetime="{{ post.publishedAt|date('Y-m-d H:i') }} ">
                                {{ post.publishedAt|date }}
                        </time>
                        par  {{ post.author }}
                </h5>
                <p>{{ post.contenu|nl2br }}</p>
        {% endif %}

        <a href="{{ path('app_post_share', {id: post.id, slug: post.slug }) }}">Partage ce article</a>
        <hr>
        <div id="comment-list">
            <section>
                <h2 id="comments-count">{{ comments|length }} commentaires</h2>
                {# loop.index => permet de voir l'index > loop.index is odd ? > est ce que l'index est impaire #}
                {% for comment in comments %}
                {% include 'comments/_comment.html.twig' with { comment, index: loop.index } %}
                {% else %}
                    <p>Pas de commentaire</p>
                {% endfor %}
            </section>
        </div>

        <section class="mt-5">
            <h2>Article smilaire</h2>
            {% for post in similarPostByTag %}
            <p>
                <a href="{{ path('app_post_show', { slug: post.slug }) }}">
                    {{ post.titre }}
                </a>
            </p>
            {% endfor %}
        </section>
    <turbo-frame id="new-comment-form">
        <section class="mt-5">
            <div class="row">
                <div class="col-md-8">
                    {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}
                    <button type="submit" class="btn btn-primary w-100" formnovalidate>Commentaire</button>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </section>
    </turbo-frame>

{% endblock %}